<header>
  <h1>Building a location aware realtime chat application with AngularJS &amp; Pusher</h1>
</header>
<div class="container">
  <div class="text--centered">
    <h2>
      In this guide you will learn how to build an AngularJS application that allows realtime communication between people nearby.
    </h2>
    <a class="md-primary md-button md-default-theme" ui-sref="home">Check out the demo</a>
  </div>
  <br>
  <hr>
  <p>Communication applications are everywhere, whether you're tweeting, snapchatting or even meerkatting these tools all require you to be connected to the person you're subscribed to.</p>
  <p>But what if you were instead connected by your physical location? Localised information becomes more relevant and communities, particularly in dense areas such as a university grounds, would form organically. Realtime conversations could spawn based on events happening at the present and messages could spread virally outwards from a single location.</p>
  <p>In this tutorial we're going to learn how to build such an application using AngularJS and Pusher. Angular provides great flexibility for creating real-time web applications and Pusher gives us the power to broadcast and receive messages without having to manage infrastructure. We'll do this by creating location specific <a href="https://pusher.com/docs/client_api_guide/client_private_channels">channels</a> that utilise <a href="https://pusher.com/docs/client_api_guide/client_events">client events</a> for sending and receiving messages. Most of the work will be on the client-side leaving only Express.js to serve files and <a href="https://pusher.com/docs/authenticating_users">authenticate users</a>.</p>

  <h2>Tutorial</h2>

  <p>Here's an outline of the flow -</p>
  <ul>
    <li>
      <p>The user lands on the Application and we request their GeoLocation, alongside a friendly notice to let them know the status.</p>
    </li>
    <li>
      <p>Once we have the users location we generate a channel name based on a low precision lookup of their location. This room name will be the same for people who are near their location.</p>
    </li>
    <li>
      <p>Using the Pusher Angular library we subscribe to the private location channel authenticating the user with node Express.js in doing so.</p>
    </li>
    <li>
      <p>We then listen for message events on the channel and push them to a full screen map near the location they were published.</p>
    </li>
  </ul>

  <p>Remember at any time you can <a ui-sref="home">check out the demo</a> and if you get stuck at any point you can always refer to the <a href="http://github.com/adambutler/geo-pusher">completed code</a>.</p>

  <h3>Preface</h3>
  <p>
    This tutorial assumes basic HTML, CSS and JavaScript ability as well as familiarity with Git. If you are not familiar with these I recommend following these tutorials first -
    <ul>
      <li><a href="http://www.codecademy.com/en/tracks/web">HTML/CSS - Code Academy</a>
      </li>
      <li><a href="https://try.github.io/levels/1/challenges/1">Git - tryGit</a></li>
    </ul>
  </p>

  <h3>Setup</h3>
  <p>Lets start by getting the application bootstrapped. By cloning this repo you'll be setup with an empty AngularJS project served by Node express.</p>

  <div hljs language="bash"># Note: not yet setup
git clone -b starter git@github.com:adambutler/geo-pusher.git</div>

  <p>Great... lets checkout what we've got!</p>

  <blockquote>
    <h3><pre><code class="hljs">/src/app/index.js</code></pre></h3>
    <p>
      This is where the <a href="https://docs.angularjs.org/guide/module" target="_blank">Angular module</a> is defined &amp; where we list our application routes.
    </p>
  </blockquote>

  <blockquote>
    <h3><pre><code class="hljs">/src/app/main/main.controller.js</code></pre></h3>
    <p>
      This is our main <a href="https://docs.angularjs.org/guide/controller" target="_blank">controller</a> we'll use this file to control what happens in our view.
    </p>
  </blockquote>

  <blockquote>
    <h3><pre><code class="hljs">/src/app/main/main.html</code></pre></h3>
    <p>
      This is our main view. We'll use this file to show the map and a form so the user can post up their own messages.
    </p>
  </blockquote>

  <h4>Setting up the Pusher app</h4>

  <p>We need to setup our Pusher app to allow us to authenticate users as well as send &amp; receive messages.</p>

  <md-item>
    <md-item-content>
      <div class="md-tile-left">
        <a ng-click="showPreview('https://pusher-geopusher.s3.amazonaws.com/pusher.gif')">
          <img class="preview" src="/assets/images/gif-preview-pusher.png">
        </a>
      </div>
      <div class="md-tile-content">
        <ol>
          <li>Sign up for a <a href="https://pusher.com/signup" target="_blank">free pusher account</a>.</li>
          <li>Create a new app called <code>geopusher</code>, make sure to <b>enable client events</b>.</li>
          <li>Make a note of your <b>APP ID</b>, <b>Key</b> &amp; <b>Secret</b></li>
        </ol>
      </div>
    </md-item-content>
  </md-item>

  <h4>Setting up the Google developer project</h4>

  <p>Google keep tight control over who used their API, we therefor need to get a key to use the Google Maps JavaScript API from the developer console.</p>

  <md-item>
    <md-item-content>
      <div class="md-tile-left">
        <a ng-click="showPreview('https://pusher-geopusher.s3-eu-west-1.amazonaws.com/google.gif')">
          <img class="preview" src="/assets/images/gif-preview-google-api.png">
        </a>
      </div>
      <div class="md-tile-content">
        <ol>
          <li>Go to <a href="https://console.developers.google.com" target="_blank">Google Developers Console</a> and sign in.</li>
          <li>Create a new project called <code>geopusher</code>, and give it a unique project ID.</li>
          <li>Click create and wait a few seconds whilst your project is created.</li>
          <li>Go to API's &amp; auth > API's then Google Maps JavaScript API</li>
          <li>Click Enable API</li>
          <li>Go to API's &amp; auth > Credentials and then Create a new Key</li>
          <li>Click Browser key and set the referrer to <code>localhost</code></li>
          <li>Make a note of your <b>API Key</b></li>
        </ol>
      </div>
    </md-item-content>
  </md-item>

  <h4>Setting up the environment file</h4>

  <p>We use these keys in a few places and you should avoid committing them into source control. We'll add these keys into an environment file that gets referenced in various parts of the app.</p>

  <ol>
    <li>Copy the file <code>.env.example</code> to <code>.env</code></li>
    <li>Edit the new <code>.env</code> file by populating the values with the ones you have taken notes of.</li>
  </ol>

  <h3>Adding Google Maps</h3>
  <p>To Do</p>

  <h3>Getting GeoLocation</h3>
  <p>To Do</p>

  <h3>Receiving events</h3>
  <p>To Do</p>

  <h3>Sending events</h3>
  <p>To Do</p>

  <h3>Conclusion</h3>
  <p>To Do</p>
</div>


