%header
  %h1 Building a realtime GeoLocation chat application with Pusher

.container
  .text--centered
    %h2
      In this tutorial you will learn how to build an application that allows free communication between users in a localised area using Pusher.
    %a.md-primary.md-button.md-default-theme{ng-href: "/"} Check out the demo

  %br
  %hr

  %h2 Preface

  %p
    This tutorial assumes basic HTML, CSS and JavaScript ability as well as familiarity with Git. If you are not familiar with these I recommed following these tutorials first -

    %ul
      %li
        %a{href: "http://www.codecademy.com/en/tracks/web"} HTML/CSS - Code Academy
      %li
        %a{href: "http://www.codecademy.com/en/tracks/web"} Git - tryGit

  %h2 Setup

  Lets start by getting the application bootstrapped.

  %code
    %pre

      $ git clone -b starter git@github.com:adambutler/geo-pusher.git


